@font-face {
  font-family: 'NeoTech';
  src: url("../fonts/NeoTech.otf");
}

@font-face {
  font-family: 'NeoTech-Bold';
  src: url("../fonts/NeoTech_Bold.otf");
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url("../fonts/HelveticaNeue-Thin.ttf");
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

body>header {
  white-space: nowrap;
  max-width: 1920px;
  height: 90px;
  margin: 0 auto;
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

body>header>div {
  max-width: 1180px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

body>header>div>div:first-of-type {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

body>header>div>div:first-of-type figure p {
  font-family: 'NeoTech-Bold';
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fff;
  -webkit-transform: rotate(-30deg);
  -ms-transform: rotate(-30deg);
  transform: rotate(-30deg);
  font-size: 37px;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: black;
}

body>header>div>div:first-of-type nav.main-menu {
  height: 100%;
  margin-left: 45px;
}

body>header>div>div:first-of-type nav.main-menu a {
  color: #8a8a8a;
  font-size: 14px;
  font-family: 'Roboto';
  font-weight: bold;
}

body>header>div>div:first-of-type nav.main-menu ul.menu {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

body>header>div>div:first-of-type nav.main-menu ul.menu>li {
  margin: 0 9px 0 9px;
}

body>header>div>div:first-of-type nav.main-menu ul.menu>li {
  padding-top: 16px;
  width: 120px;
  height: 50%;
}

body>header>div>div:first-of-type nav.main-menu ul.menu>li>a {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

body>header>div>div:first-of-type nav.main-menu ul.menu>li:not(.sub-li):hover,
body>header>div>div:first-of-type nav.main-menu ul.menu .current {
  border-bottom: 4px solid white;
}

body>header>div>div:first-of-type nav.main-menu ul.menu>li:not(.sub-li):hover a,
body>header>div>div:first-of-type nav.main-menu ul.menu .current a {
  padding-top: 4px;
  color: #fff;
}

body>header>div>div:first-of-type nav.main-menu ul.menu>li:not(.sub-li):active {
  border-bottom: 4px solid lightskyblue;
}

body>header>div>div:first-of-type nav.main-menu ul.menu>li:not(.sub-li):active a {
  padding-top: 4px;
}

body>header>div>div:first-of-type nav.main-menu ul.menu li.sub-li {
  position: relative;
  width: 137px;
  margin: 0px 0px 0px 23px;
}

body>header>div>div:first-of-type nav.main-menu ul.menu li.sub-li a span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

body>header>div>div:first-of-type nav.main-menu ul.menu li.sub-li svg {
  margin-left: 30px;
  height: 10px;
  width: 10px;
  fill: #808080;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

body>header>div>div:first-of-type nav.main-menu ul.menu li.sub-li ul.sub-menu {
  position: absolute;
  display: none;
  width: 100%;
  top: 100%;
  background-color: #fff;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0), 0 3px 6px rgba(0, 0, 0, 0.13);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0), 0 3px 6px rgba(0, 0, 0, 0.13);
  border-radius: 0px 0px 4px 4px;
}

body>header>div>div:first-of-type nav.main-menu ul.menu li.sub-li ul.sub-menu li:last-of-type {
  height: 47px;
}

body>header>div>div:first-of-type nav.main-menu ul.menu li.sub-li ul.sub-menu li:last-of-type a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  padding-top: 8px;
}

body>header>div>div:first-of-type nav.main-menu ul.menu li.sub-li ul.sub-menu li {
  width: 100%;
  height: 33px;
}

body>header>div>div:first-of-type nav.main-menu ul.menu li.sub-li ul.sub-menu li a {
  height: 100%;
  padding-left: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  color: black;
}

body>header>div>div:first-of-type nav.main-menu ul.menu li.sub-li ul.sub-menu li:hover {
  background-color: #e6e6e6;
}

body>header>div>div:first-of-type nav.main-menu ul.menu li.sub-li:hover,
body>header>div>div:first-of-type nav.main-menu ul.menu li.sub-li:focus {
  background-color: #fff;
}

body>header>div>div:first-of-type nav.main-menu ul.menu li.sub-li:hover svg,
body>header>div>div:first-of-type nav.main-menu ul.menu li.sub-li:focus svg {
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  -o-transition: transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

body>header>div>div:first-of-type nav.main-menu ul.menu li.sub-li:hover ul.sub-menu,
body>header>div>div:first-of-type nav.main-menu ul.menu li.sub-li:focus ul.sub-menu {
  display: block;
}

body>header>div>div:first-of-type nav.main-menu ul.menu li.sub-li+li {
  margin: 0;
  width: 110px;
}

body>header>div .sign-search-wrapper {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  position: relative;
  overflow: hidden;
}

body>header>div .sign-search-wrapper .sign,
body>header>div .sign-search-wrapper .search {
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

body>header>div .sign-search-wrapper .sign a,
body>header>div .sign-search-wrapper .search a {
  color: #fff;
  white-space: nowrap;
  font-family: 'Roboto';
  font-size: 14px;
  word-spacing: 2px;
  font-weight: bold;
}

body>header>div .sign-search-wrapper .sign p {
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  margin: 0px 4px 0px 4px;
}

body>header>div .sign-search-wrapper .search {
  height: 50px;
  margin-left: 50px;
}

body>header>div .sign-search-wrapper .search div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

body>header>div .sign-search-wrapper .search div i {
  width: 20px;
  height: 20px;
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-position: center;
  -webkit-transition: background 0.8s;
  -o-transition: background 0.8s;
  transition: background 0.8s;
}

body>header>div .sign-search-wrapper .search div i svg {
  width: 16px;
  height: 16px;
}

body>header>div .sign-search-wrapper .search div i:active {
  background-color: #8f8f8f;
  background-size: 100%;
  -webkit-transition: background 0s;
  -o-transition: background 0s;
  transition: background 0s;
}

body>header>div .sign-search-wrapper .search input[type=search] {
  font-family: 'Roboto';
  font-size: 16px;
  border: none;
  background: none;
  height: 20px;
  color: #8a8a8a;
  width: 0px;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

body>header>div .sign-search-wrapper .search input[type=search]:focus {
  outline: none;
}

body>header>div .sign-search-wrapper .search input.hover {
  width: 150px;
  -webkit-transition: width 1s;
  -o-transition: width 1s;
  transition: width 1s;
  margin-left: 10px;
}

body>header>div .sign-search-wrapper .menu-toggle {
  display: none;
  width: 30px;
  height: 25px;
  position: relative;
  border-bottom: 3px solid white;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  cursor: pointer;
  overflow: hidden;
}

body>header>div .sign-search-wrapper .menu-toggle::before {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  content: "";
  display: block;
  height: 4px;
  background: white;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}

body>header>div .sign-search-wrapper .menu-toggle::after {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  content: "";
  display: block;
  height: 4px;
  background: white;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}

body>header>div .sign-search-wrapper .menu-toggle.open {
  border: 0;
  width: 30px;
  height: 40px;
}

body>header>div .sign-search-wrapper .menu-toggle.open:before {
  content: "";
  display: block;
  width: 100%;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  background: white;
  top: 100%;
  margin-top: -75%;
  left: 0;
  margin-left: -0%;
}

body>header>div .sign-search-wrapper .menu-toggle.open:after {
  content: "";
  display: block;
  width: 100%;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  background: white;
  top: 100%;
  margin-top: -75%;
  left: 0;
  margin-left: 0%;
}

body>header>div .sign-search-wrapper nav.min-menu {
  background-color: #fff;
  color: black;
  width: 160px;
  max-height: 0px;
  overflow: hidden;
  position: absolute;
  z-index: 100;
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: scaleY(0);
  -ms-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  top: 100%;
  right: 0;
  border-radius: 0px 0px 0px 4px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.16), 0px 3px 6px rgba(0, 0, 0, 0.13);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.16), 0px 3px 6px rgba(0, 0, 0, 0.13);
}

body>header>div .sign-search-wrapper nav.min-menu ul li {
  height: 35px;
  font-family: 'Roboto';
  font-size: 14px;
}

body>header>div .sign-search-wrapper nav.min-menu ul li a {
  color: black;
  height: 100%;
  padding-left: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

body>header>div .sign-search-wrapper nav.min-menu ul li:last-child {
  border-radius: 0px 0px 0px 4px;
}

body>header>div .sign-search-wrapper nav.min-menu ul li:hover {
  background-color: #e6e6e6;
}

body>header>div .sign-search-wrapper nav.min-menu.open {
  -webkit-transform: scaleY(1);
  -ms-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  max-height: 200px;
}

article {
  max-width: 1920px;
  width: 100%;
  background-color: #f3f3f3;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

article .card {
  max-width: 780px;
  margin-left: calc(100 / 1180 * 100%);
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  border-radius: 5px;
  background-color: #fff;
}

article .card>header figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 26px 0px 15px 0px;
}

article .card>header figure img {
  border-radius: 50%;
  width: 40px;
}

article .card>header figure figcaption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-family: 'Roboto', sans-serif;
  padding-left: 17px;
}

article .card>header figure figcaption p:first-child {
  font-size: 16px;
}

article .card>header figure figcaption p:last-child {
  color: #8f8f8f;
  font-size: 14px;
}

article .card>figure {
  width: 100%;
}

article .card>figure img {
  width: 100%;
}

article .card>figure figcaption {
  padding: 19px 0px 0px 30px;
  font-size: 36px;
  word-spacing: 1.6px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

article .card>div {
  padding: 11px 0px 50px 0px;
}

article .card>div p {
  font-family: 'HelveticaNeue';
  font-weight: bold;
  line-height: 1.7;
  word-spacing: 2.7px;
  font-size: 19px;
}

article .card>div>button {
  width: 112px;
  height: 36px;
  background-color: #2196f3;
  border: 0px;
  border-radius: 3px;
  margin-top: 34px;
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  color: white;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
}

article .card>div>button:hover {
  -webkit-transform: scale(1.04);
  -ms-transform: scale(1.04);
  transform: scale(1.04);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

article .card>div>button:active {
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
}

article .card>*:not(figure) {
  padding-left: 30px;
}

article>div {
  max-width: 1180px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

article>div>section:nth-child(1) div p {
  padding-right: 55px;
  word-spacing: 1px;
}

article>div>section:nth-child(2) div p {
  padding-right: 100px;
}

article>div .card:nth-child(2) {
  margin-top: 40px;
}

article section.featured {
  max-width: 1180px;
  border-radius: 7px;
  overflow: hidden;
  width: 100%;
  background-color: #fff;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

article section.featured>div {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

article section.featured>div video {
  background: url("../img/featured.jpg");
  background-size: 100% 100%;
  background-position: center;
  background-size: cover;
  height: 665px;
  width: 100%;
}

article section.featured>div>button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 70px;
  height: 70px;
  border: none;
  border-radius: 50%;
  background-color: #2196f3;
  position: absolute;
  top: calc(100% - 35px);
  right: 22px;
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

article section.featured>div>button i svg {
  display: none;
  height: 25px;
  width: 25px;
}

article section.featured>div>button i.current-btn svg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

article section.featured>div>button i:first-child {
  padding-left: 10px;
}

article section.featured>div>button i:last-child {
  padding-right: 10px;
}

article section.featured>div>button:hover {
  -webkit-transform: scale(1.04);
  -ms-transform: scale(1.04);
  transform: scale(1.04);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

article section.featured h1 {
  font-family: 'Roboto';
  font-size: 36px;
  max-width: 710px;
  line-height: 1.2;
  word-spacing: 1.4px;
  margin: 17px 0px 16px 30px;
}

article section.featured p {
  font-size: 18px;
  font-family: 'HelveticaNeue';
  font-weight: bold;
  letter-spacing: 1.2px;
  margin-bottom: 45px;
  margin-left: 30px;
  color: #000;
}

article.video {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-top: 40px;
}

article.video>div {
  max-width: 1180px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

article.video>div section:first-of-type h1,
article.video>div section:first-of-type p {
  margin-left: 20px;
}

article.video>div section {
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  width: calc(100% / 3 - 12px);
  border-radius: 4px;
  overflow: hidden;
  background-color: #fff;
}

article.video>div section figure {
  width: 100%;
}

article.video>div section figure img {
  width: 100%;
}

article.video>div section h1 {
  margin: 22px 13px 0px 30px;
  font-family: 'HelveticaNeue';
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  word-spacing: 3.5px;
  font-size: 18px;
}

article.video>div section p {
  margin: 5px 0px 28px 30px;
  color: #8f8f8f;
  font-family: 'Roboto';
  font-size: 16px;
}

article.video>div section:nth-child(-n+3) {
  margin-bottom: 20px;
}

body article:first-of-type {
  padding-top: 40px;
}

body article:last-of-type {
  padding-bottom: 92px;
}

body article.video {
  padding-bottom: 106px;
}

nav.pagination {
  height: 97px;
  max-width: 1920px;
  margin: 0 auto;
  background-color: #2196f3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

nav.pagination>div {
  max-width: 1180px;
  width: 100%;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

nav.pagination>div>.previous svg {
  margin-right: 11px;
}

nav.pagination>div>.next svg {
  margin-left: 11px;
}

nav.pagination>div svg {
  fill: white;
}

nav.pagination>div a {
  font-family: 'Roboto';
  color: white;
  font-size: 19px;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

footer {
  height: 90px;
  max-width: 1920px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

footer * {
  color: #8a8a8a;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: bold;
}

footer>div {
  max-width: 1180px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

footer>div nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer>div nav a {
  letter-spacing: 1.2px;
}

footer>div nav a:nth-child(1) {
  margin-right: 27px;
}

footer>div nav a:nth-child(2) {
  margin-right: 16px;
}

footer>div nav a:nth-child(3) {
  margin-right: 22px;
}

footer>div div.copyright {
  word-spacing: 4px;
}

footer>div.video-footer-wrapper {
  margin-bottom: 10px;
}

@media screen and (max-width: 1180px) {
  body header>div {
    margin: 0px 44px 0px 44px;
  }

  nav.pagination {
    height: 97px;
    max-width: 1920px;
    margin: 0 auto;
    background-color: #2196f3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  nav.pagination>div {
    margin: 0px 10px 0px 30px;
  }

  body article .featured {
    width: calc(100% - 88px);
  }

  body article.video {
    width: auto;
    padding: 40px 44px 90px 44px;
  }

  body article.video>div section h1 {
    font-size: 17px;
  }

  body article.video>div section p {
    font-size: 15px;
  }
}

@media screen and (max-width: 1000px) {
  nav.main-menu ul.menu li.home-page {
    display: none;
  }

  nav.main-menu ul.menu li.home-page a {
    display: none;
  }

  body header>div .sign-search-wrapper .search {
    margin-left: 20px;
  }

  body header>div .sign-search-wrapper .search div .hover {
    width: 120px;
  }

  article div {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  article div section.card {
    margin: 0px 44px 0px 44px;
  }

  body article.video>div {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  body article.video>div>section {
    width: calc(100% / 2 - 10px);
  }

  body article.video>div>section:nth-child(-n+3) {
    margin: 0;
  }

  body article.video>div>section:nth-child(-n+4) {
    margin-bottom: 20px;
  }

  body article.video>div>section:nth-child(odd) {
    margin-right: 10px;
  }

  body article.video>div>section:nth-child(even) {
    margin-left: 10px;
  }

  article section.featured>div video {
    height: 485px;
  }

  article section.featured>div button {
    width: 67px;
    height: 67px;
    right: 23px;
  }

  article section.featured h1 {
    margin: 17px 140px 16px 30px;
  }
}

@media screen and (max-width: 768px) {
  body article:last-of-type {
    padding-bottom: 40px;
  }

  body>header div div:first-of-type figure {
    width: 50px;
    height: 50px;
  }

  body>header div div:first-of-type nav.main-menu {
    margin-left: 41px;
  }

  body>header div div:first-of-type nav.main-menu ul.menu li:not(.sub-li) {
    width: auto;
  }

  body>header div div:first-of-type nav.main-menu ul.menu li:not(.sub-li) a {
    padding: 0px 10px 0px 10px;
  }

  body>header div div:first-of-type nav.main-menu ul.menu li.sub-li,
  body>header div div:first-of-type nav.main-menu ul.menu li.sub-li:hover,
  body>header div div:first-of-type nav.main-menu ul.menu li.sub-li:focus {
    margin: 0px 0px 0px 35px;
    width: 140px;
  }

  body>header div div:first-of-type nav.main-menu ul.menu li.sub-li:hover+li,
  body>header div div:first-of-type nav.main-menu ul.menu li.sub-li:focus+li {
    width: auto;
  }

  body>header div div:first-of-type nav.main-menu ul.menu li.current a {
    padding-top: 4px;
  }

  body>header div div.sign-search-wrapper .search {
    margin-left: 30px;
  }

  body>header div.video-header-wrapper>div:first-of-type {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }

  body>header div.video-header-wrapper>div:first-of-type nav.main-menu {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    padding-right: 48px;
    margin-left: 50px;
  }

  body>header div.video-header-wrapper>div:first-of-type nav.main-menu ul {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  body>header div.video-header-wrapper>div:first-of-type nav.main-menu ul li {
    margin: 0;
  }

  body>header div.video-header-wrapper>div:first-of-type nav.main-menu ul li a {
    padding: 0px 18px 0px 18px;
  }

  body>header div.video-header-wrapper>div:first-of-type nav.main-menu ul li.current {
    padding: 0px 7px 0px 7px;
  }

  article div {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  article div section.card div p {
    padding-right: 40px;
  }

  article section.featured>div>button i svg {
    width: 22px;
    height: 22px;
  }

  article section.featured>div>button i:first-child {
    padding-left: 12px;
  }

  article section.featured h1 {
    margin: 20px 140px 16px 30px;
  }

  article section.featured p {
    letter-spacing: 0.7px;
    margin-bottom: 52px;
  }

  body article.video>div>section:nth-last-child(-n+2) {
    display: none;
  }

  nav.pagination>div {
    margin: 0;
    padding: 0px 45px 5px 45px;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
  }

  footer>div {
    margin: 0px 50px 0px 50px;
  }

  footer>div.video-footer-wrapper {
    margin-bottom: 0px;
    margin-top: 35px;
  }

  body article.video>div section figure img,
  body article.video>div section:first-of-type figure img {
    height: 280px;
  }

  body article.video>div section h1,
  body article.video>div section:first-of-type h1 {
    font-size: 19px;
    margin: 19px 6px 0px 30px;
    word-spacing: 1px;
  }

  body article.video>div section p,
  body article.video>div section:first-of-type p {
    margin: 8px 0px 28px 30px;
    letter-spacing: 1.2px;
  }
}

@media screen and (max-width: 750px) {

  body article.video>div section figure img,
  body article.video>div section:first-of-type figure img {
    height: auto;
  }
}

@media screen and (max-width: 700px) {
  body header>div {
    margin: 0;
  }

  body header>div .sign-search-wrapper {
    -webkit-box-flex: 0.5;
    -ms-flex-positive: 0.5;
    flex-grow: 0.5;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }

  body header>div .sign-search-wrapper .search {
    margin-left: 20px;
  }

  body header>div .sign-search-wrapper .search div .hover {
    width: 100px;
  }

  footer div {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  footer div nav {
    display: none;
  }

  header div:last-child .sign-search-wrapper .menu-toggle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-left: 40px;
  }

  header div:first-child nav.main-menu {
    display: none;
  }

  header div:last-child .sign-search-wrapper .sign {
    display: none;
  }

  header div:last-child .sign-search-wrapper {
    overflow: visible;
  }

  header div:last-child .sign-search-wrapper .search {
    margin: 0;
  }

  header div:last-child .sign-search-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  header div:last-child .sign-search-wrapper div.search {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-left: 5px;
  }

  header div:last-child .sign-search-wrapper div.search div i {
    width: 40px;
    height: 40px;
  }

  header div:last-child .sign-search-wrapper div.search div i svg {
    width: 25px;
    height: 25px;
  }

  body>header>div {
    max-width: 1180px;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  body>header>div>div:first-child a {
    margin-left: 20px;
  }

  body>header>div>div.sign-search-wrapper div.menu-toggle {
    margin-right: 35px;
  }

  article div {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  article div .card {
    margin: 0;
  }

  body article.video>div {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  body article.video>div>section {
    width: 100%;
  }

  body article.video>div>section:nth-child(-n+4) {
    margin-bottom: 20px;
  }

  body article.video>div>section:nth-child(odd) {
    margin-right: 0px;
  }

  body article.video>div>section:nth-child(even) {
    margin-left: 0px;
  }
}

@media screen and (max-width: 500px) {
  body header div div:first-child a {
    margin-left: 24px;
  }

  body article:first-of-type {
    padding-top: 10px;
  }

  body article:last-of-type {
    padding-bottom: 10px;
  }

  body article.video {
    padding-top: 10px;
  }

  article div {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  article div section.card {
    margin: 0px 10px 0px 10px;
  }

  article div section.card>figure figcaption {
    padding: 23px 100px 0px 30px;
  }

  article div section.card div p {
    word-spacing: 1px;
  }

  article div .card:nth-child(2) {
    margin-top: 10px;
  }

  nav.pagination {
    height: 90px;
  }

  nav.pagination>div {
    padding: 0px 41px 0px 40px;
  }

  footer {
    height: 65px;
  }

  footer>div.video-footer-wrapper {
    margin-top: 0px;
  }

  body>article:first-of-type section.featured {
    margin: 0px 10px 0px 10px;
  }

  body article.video {
    padding: 10px 10px 10px 10px;
  }

  body article.video>div>section:nth-last-child(-n+4) {
    display: none;
  }

  body article.video>div>section:nth-child(odd) {
    margin-bottom: 10px;
  }

  body article.video>div>section:nth-child(even) {
    margin-bottom: 0px;
  }

  body article section.featured {
    width: calc(100% - 20px);
  }

  body article section.featured>div video {
    height: 462px;
  }

  body article section.featured h1 {
    margin: 40px 0px 16px 30px;
  }

  body article section.featured p {
    margin-bottom: 30px;
  }

  body article.video {
    padding: 20px 10px 10px 10px;
  }

  body article.video>div section figure img,
  body article.video>div section:first-of-type figure img {
    height: 282px;
  }

  body article.video>div section h1,
  body article.video>div section:first-of-type h1 {
    margin: 22px 0px 0px 30px;
  }

  body article.video>div section p,
  body article.video>div section:first-of-type p {
    margin: 3px 0px 28px 30px;
  }
}

@media screen and (max-width: 450px) {

  body article.video>div section figure img,
  body article.video>div section:first-of-type figure img {
    height: auto;
  }

  article div section.card>figure figcaption {
    padding: 23px 50px 0px 30px;
  }
}

@media screen and (max-width: 400px) {
  header div:last-child .sign-search-wrapper .menu-toggle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-left: 15px;
  }

  body>header>div>div.sign-search-wrapper div.menu-toggle {
    margin-right: 20px;
  }
}