@font-face {
    font-family: 'NeoTech';
    src: url('../fonts/NeoTech.otf');
}

@font-face {
    font-family: 'NeoTech-Bold';
    src: url('../fonts/NeoTech_Bold.otf');
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url('../fonts/HelveticaNeue-Thin.ttf');
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;

}

// Header
body {

    &>header {
        white-space: nowrap;
        max-width: 1920px;
        height: 90px;
        margin: 0 auto;
        background-color: black;
        display: flex;
        justify-content: center;

        &>div {

            max-width: 1180px;
            width: 100%;
            display: flex;
            justify-content: space-between;

            &>div:first-of-type {
                height: 100%;
                display: flex;
                align-items: center;

                figure {

                    p {
                        font-family: 'NeoTech-Bold';
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        background-color: #fff;
                        transform: rotate(-30deg);
                        font-size: 37px;
                        font-weight: bold;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        color: black;
                    }
                }

                nav.main-menu {
                    height: 100%;
                    margin-left: 45px;

                    a {
                        color: #8a8a8a;
                        font-size: 14px;
                        font-family: 'Roboto';
                        font-weight: bold;
                    }

                    ul.menu {
                        height: 100%;
                        display: flex;
                        align-items: flex-end;

                        &>li {
                            margin: 0 9px 0 9px;

                        }

                        &>li {
                            padding-top: 16px;
                            width: 120px;
                            height: 50%;

                            &>a {
                                height: 100%;
                                display: flex;
                                justify-content: center;
                                align-items: flex-start;
                            }
                        }

                        &>li:not(.sub-li):hover,
                        .current {
                            a {
                                padding-top: 4px;
                                color: #fff;
                            }

                            border-bottom: 4px solid white;
                        }

                        &>li:not(.sub-li):active {
                            a {
                                padding-top: 4px;
                            }

                            border-bottom: 4px solid lightskyblue;
                        }

                        li.sub-li {
                            position: relative;
                            width: 137px;
                            margin: 0px 0px 0px 23px;

                            a {
                                span {
                                    display: flex;
                                    align-items: center;
                                }
                            }

                            svg {
                                margin-left: 30px;
                                height: 10px;
                                width: 10px;
                                fill: #808080;
                                transform: rotate(180deg);
                                transition: 0.5s;
                            }

                            ul.sub-menu {
                                position: absolute;
                                display: none;
                                width: 100%;
                                top: 100%;
                                background-color: #fff;
                                box-shadow: 0 10px 20px rgba(0, 0, 0, 0), 0 3px 6px rgba(0, 0, 0, 0.13);
                                border-radius: 0px 0px 4px 4px;

                                li:last-of-type {
                                    height: 47px;

                                    a {
                                        display: flex;
                                        align-items: flex-start;
                                        padding-top: 8px;
                                    }
                                }

                                li {
                                    width: 100%;
                                    height: 33px;

                                    a {
                                        height: 100%;
                                        padding-left: 23px;
                                        display: flex;
                                        align-items: center;
                                        justify-content: flex-start;
                                        color: black;
                                    }
                                }

                                li:hover {
                                    background-color: rgb(230, 230, 230);
                                }
                            }
                        }

                        li.sub-li:hover,
                        li.sub-li:focus {

                            background-color: #fff;

                            svg {
                                transform: rotate(0deg);
                                transition: transform 0.5s;
                            }

                            ul.sub-menu {
                                display: block;

                            }
                        }

                        li.sub-li+li {
                            margin: 0;
                            width: 110px;
                        }
                    }

                }
            }

            .sign-search-wrapper {

                height: 100%;
                display: flex;
                align-items: flex-end;
                position: relative;
                overflow: hidden;

                .sign,
                .search {
                    height: 50%;
                    display: flex;
                    align-items: flex-start;

                    a {
                        color: #fff;
                        white-space: nowrap;
                        font-family: 'Roboto';
                        font-size: 14px;
                        word-spacing: 2px;
                        font-weight: bold;

                    }
                }

                .sign {
                    p {
                        font-family: 'Roboto';
                        font-size: 14px;
                        font-weight: bold;
                        color: #fff;
                        margin: 0px 4px 0px 4px;
                    }
                }

                .search {
                    height: 50px;
                    margin-left: 50px;

                    div {
                        display: flex;
                        align-items: center;


                        i {
                            width: 20px;
                            height: 20px;
                            border-radius: 50px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            background-position: center;
                            transition: background 0.8s;

                            svg {
                                width: 16px;
                                height: 16px;
                            }
                        }

                        i:active {
                            background-color: #8f8f8f;
                            background-size: 100%;
                            transition: background 0s;
                        }

                    }

                    input[type=search] {
                        font-family: 'Roboto';
                        font-size: 16px;
                        border: none;
                        background: none;
                        height: 20px;
                        color: #8a8a8a;
                        width: 0px;
                        transition: 1s;
                    }

                    input[type=search]:focus {
                        outline: none;
                    }

                    input.hover {
                        width: 150px;
                        transition: width 1s;
                        margin-left: 10px;

                    }
                }

                .menu-toggle {
                    display: none;
                    width: 30px;
                    height: 25px;
                    position: relative;
                    border-bottom: 3px solid white;
                    box-sizing: border-box;
                    transition: all .5s;
                    cursor: pointer;
                    overflow: hidden;

                    &::before {
                        position: absolute;
                        left: 0;
                        right: 0;
                        top: 0;
                        content: "";
                        display: block;
                        height: 4px;
                        background: white;
                        transition: all .5s;
                    }

                    &::after {
                        position: absolute;
                        left: 0;
                        right: 0;
                        top: 50%;
                        content: "";
                        display: block;
                        height: 4px;
                        background: white;
                        transition: all .5s;
                    }

                    &.open {
                        border: 0;
                        width: 30px;
                        height: 40px;

                        &:before {
                            content: "";
                            display: block;
                            width: 100%;
                            transform: rotate(45deg);
                            background: white;
                            top: 100%;
                            margin-top: -75%;
                            left: 0;
                            margin-left: -0%;
                        }

                        &:after {
                            content: "";
                            display: block;
                            width: 100%;
                            transform: rotate(-45deg);
                            background: white;
                            top: 100%;
                            margin-top: -75%;
                            left: 0;
                            margin-left: 0%;
                        }
                    }
                }

                nav.min-menu {
                    background-color: #fff;
                    color: black;
                    width: 160px;
                    max-height: 0px;
                    overflow: hidden;
                    position: absolute;
                    z-index: 100;
                    transform-origin: 0 0;
                    transform: scaleY(0);
                    transition: 0.5s;
                    top: 100%;
                    right: 0;
                    border-radius: 0px 0px 0px 4px;
                    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.16), 0px 3px 6px rgba(0, 0, 0, 0.13);

                    ul {
                        li {
                            height: 35px;
                            font-family: 'Roboto';
                            font-size: 14px;

                            a {
                                color: black;
                                height: 100%;
                                padding-left: 6px;
                                display: flex;
                                align-items: center;
                            }
                        }

                        li:last-child {
                            border-radius: 0px 0px 0px 4px;

                        }

                        li:hover {
                            background-color: rgb(230, 230, 230);
                        }
                    }
                }

                nav.min-menu.open {
                    transform: scaleY(1);
                    transition: 0.5s;
                    max-height: 200px;
                }
            }
        }
    }
}

// Article section
article {
    max-width: 1920px;
    width: 100%;
    background-color: #f3f3f3;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    .card {
        max-width: 780px;
        margin-left: calc(100 / 1180 * 100%);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
        border-radius: 5px;
        background-color: #fff;

        &>header {
            figure {
                display: flex;
                padding: 26px 0px 15px 0px;

                img {
                    border-radius: 50%;
                    width: 40px;
                }

                figcaption {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    font-family: 'Roboto', sans-serif;
                    padding-left: 17px;

                    p:first-child {
                        font-size: 16px;
                    }

                    p:last-child {
                        color: #8f8f8f;
                        font-size: 14px;

                    }
                }
            }
        }

        &>figure {
            width: 100%;

            img {
                width: 100%;
            }

            figcaption {
                padding: 19px 0px 0px 30px;
                font-size: 36px;
                word-spacing: 1.6px;
                font-family: 'Roboto', sans-serif;
                font-weight: bold;
            }

        }


        &>div {
            padding: 11px 0px 50px 0px;

            p {

                font-family: 'HelveticaNeue';
                font-weight: bold;
                line-height: 1.7;
                word-spacing: 2.7px;
                font-size: 19px;
            }


            &>button {
                width: 112px;
                height: 36px;
                background-color: #2196f3;
                border: 0px;
                border-radius: 3px;
                margin-top: 34px;
                box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.20);
                color: white;
                font-size: 14px;
                font-family: 'Roboto', sans-serif;
            }


            &>button:hover {
                transform: scale(1.04);
                transition: 0.5s;
                box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.50);

            }

            &>button:active {
                transform: scale(0.8);
                transition: 0.1s;
            }

        }



        &>*:not(figure) {
            padding-left: 30px;
        }
    }

    &>div {
        max-width: 1180px;
        width: 100%;
        display: flex;
        flex-direction: column;


        &>section:nth-child(1) {
            div {

                p {
                    padding-right: 55px;
                    word-spacing: 1px;
                }
            }
        }

        &>section:nth-child(2) {
            div {
                p {
                    padding-right: 100px;
                }
            }
        }

        .card:nth-child(2) {
            margin-top: 40px;
        }
    }

    section.featured {
        max-width: 1180px;
        border-radius: 7px;
        overflow: hidden;
        width: 100%;
        background-color: #fff;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);

        &>div {
            width: 100%;
            position: relative;
            display: flex;
            flex-wrap: wrap;

            video {
                background: url('../img/featured.jpg');
                background-size: 100% 100%;
                background-position: center;
                background-size: cover;
                height: 665px;
                width: 100%;
            }

            &>button {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 70px;
                height: 70px;
                border: none;
                border-radius: 50%;
                background-color: #2196f3;
                position: absolute;
                top: calc(100% - 35px);
                right: 22px;
                box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.20);

                i {
                    svg {
                        display: none;
                        height: 25px;
                        width: 25px;
                    }
                }




                i.current-btn {

                    svg {
                        display: flex;
                        align-items: center;
                        justify-content: center;

                    }
                }

                i:first-child {
                    padding-left: 10px;
                }

                i:last-child {
                    padding-right: 10px;
                }
            }


            &>button:hover {
                transform: scale(1.04);
                transition: 0.5s;
                box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.50);

            }
        }

        h1 {

            font-family: 'Roboto';
            font-size: 36px;
            max-width: 710px;
            line-height: 1.2;
            word-spacing: 1.4px;
            margin: 17px 0px 16px 30px;
        }

        p {
            font-size: 18px;
            font-family: 'HelveticaNeue';
            font-weight: bold;
            letter-spacing: 1.2px;
            margin-bottom: 45px;
            margin-left: 30px;
            color: #000;
        }
    }
}

//Article video
article.video {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    padding-top: 40px;

    &>div {
        max-width: 1180px;
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;

        section:first-of-type {

            h1,
            p {
                margin-left: 20px;

            }
        }

        section {
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
            width: calc(100% / 3 - 12px);
            border-radius: 4px;
            overflow: hidden;
            background-color: #fff;


            figure {
                width: 100%;

                img {
                    width: 100%;
                }
            }

            h1 {

                margin: 22px 13px 0px 30px;
                font-family: 'HelveticaNeue';
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                word-spacing: 3.5px;
                font-size: 18px;
            }

            p {
                margin: 5px 0px 28px 30px;
                color: #8f8f8f;
                font-family: 'Roboto';
                font-size: 16px;
            }
        }

        section:nth-child(-n+3) {
            margin-bottom: 20px;
        }
    }
}

// Article margin padding
body {
    article:first-of-type {
        padding-top: 40px;
    }

    article:last-of-type {
        padding-bottom: 92px;
    }

    article.video {
        padding-bottom: 106px;
    }
}

// Pagination
nav.pagination {
    height: 97px;
    max-width: 1920px;
    margin: 0 auto;
    background-color: #2196f3;
    display: flex;
    justify-content: center;
    align-items: flex-end;

    &>div {
        max-width: 1180px;
        width: 100%;
        height: 50%;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;

        &>.previous {

            svg {
                margin-right: 11px
            }
        }

        &>.next {
            svg {
                margin-left: 11px;
            }
        }

        svg {
            fill: white;
        }

        a {
            font-family: 'Roboto';
            color: white;
            font-size: 19px;
            font-weight: bold;
            display: flex;
            align-items: center;
            justify-content: center;
        }

    }

}

// Footer
footer {
    height: 90px;
    max-width: 1920px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;

    * {
        color: #8a8a8a;
        font-family: 'Roboto';
        font-size: 14px;
        font-weight: bold;
    }

    &>div {
        max-width: 1180px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        nav {
            display: flex;

            a {
                letter-spacing: 1.2px;
            }

            //Спасибо тому кто сделал одинаковые(нет) отступы в футере
            a:nth-child(1) {
                margin-right: 27px;
            }

            a:nth-child(2) {
                margin-right: 16px;
            }

            a:nth-child(3) {
                margin-right: 22px;
            }
        }

        div.copyright {
            word-spacing: 4px;
        }
    }

    &>div.video-footer-wrapper {
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 1180px) {

    body header>div {
        margin: 0px 44px 0px 44px;
    }

    nav.pagination {
        height: 97px;
        max-width: 1920px;
        margin: 0 auto;
        background-color: #2196f3;
        display: flex;
        justify-content: center;
        align-items: center;

        &>div {
            margin: 0px 10px 0px 30px;
        }
    }



    body {
        article {
            .featured {
                width: calc(100% - 88px);
            }


        }

        article.video {
            width: auto;
            padding: 40px 44px 90px 44px;
        }


        article.video {
            &>div {
                section {
                    h1 {
                        font-size: 17px;
                    }

                    p {
                        font-size: 15px;
                    }
                }
            }
        }
    }

}

@media screen and (max-width: 1000px) {

    nav.main-menu {
        ul.menu {
            li.home-page {
                display: none;

                a {
                    display: none;
                }
            }
        }
    }

    body {
        header {
            &>div {
                .sign-search-wrapper {
                    .search {
                        margin-left: 20px;

                        div {

                            .hover {
                                width: 120px;
                            }
                        }
                    }
                }
            }
        }
    }

    article {
        div {
            align-items: center;

            section.card {
                margin: 0px 44px 0px 44px;
            }
        }



    }



    body {
        article.video {
            &>div {
                justify-content: center;

                &>section {
                    width: calc(100% / 2 - 10px);
                }

                &>section:nth-child(-n+3) {
                    margin: 0;
                }

                &>section:nth-child(-n+4) {
                    margin-bottom: 20px;
                }

                &>section:nth-child(odd) {
                    margin-right: 10px;
                }

                &>section:nth-child(even) {
                    margin-left: 10px;
                }

            }
        }
    }

    article {

        section.featured {

            &>div {

                video {
                    height: 485px;
                }

                button {
                    width: 67px;
                    height: 67px;
                    right: 23px;
                }
            }

            h1 {
                margin: 17px 140px 16px 30px;
            }
        }
    }


}

@media screen and (max-width: 768px) {
    body {
        article:last-of-type {
            padding-bottom: 40px;
        }
    }

    body {
        &>header {
            div {
                div:first-of-type {
                    figure {
                        width: 50px;
                        height: 50px;
                    }

                    nav.main-menu {

                        margin-left: 41px;

                        ul.menu {
                            li:not(.sub-li) {
                                width: auto;

                                a {
                                    padding: 0px 10px 0px 10px;
                                }
                            }

                            li.sub-li,
                            li.sub-li:hover,
                            li.sub-li:focus {
                                margin: 0px 0px 0px 35px;

                                width: 140px;
                            }


                            li.sub-li:hover+li,
                            li.sub-li:focus+li {
                                width: auto;
                            }

                            li.current {
                                a {
                                    padding-top: 4px;
                                }
                            }
                        }
                    }
                }

                div.sign-search-wrapper {
                    .search {
                        margin-left: 30px;

                    }
                }
            }
        }
    }

    body {
        &>header {
            div.video-header-wrapper {
                &>div:first-of-type {
                    flex-grow: 1;

                    nav.main-menu {

                        flex-grow: 1;
                        padding-right: 48px;

                        margin-left: 50px;

                        ul {
                            flex-grow: 1;
                            display: flex;
                            justify-content: space-between;

                            li {
                                margin: 0;

                                a {
                                    padding: 0px 18px 0px 18px;
                                }
                            }

                            li.current {

                                padding: 0px 7px 0px 7px;
                            }


                        }
                    }
                }
            }
        }
    }

    article {
        div {
            align-items: center;

            section.card {
                div {
                    p {
                        padding-right: 40px;
                    }

                }
            }
        }
    }

    article {

        section.featured {
            &>div {

                &>button {
                    i {
                        svg {
                            width: 22px;
                            height: 22px;
                        }
                    }

                    i:first-child {
                        padding-left: 12px;
                    }
                }

            }

            h1 {
                margin: 20px 140px 16px 30px;
            }

            p {
                letter-spacing: 0.7px;
                margin-bottom: 52px;
            }
        }
    }

    body {
        article.video {
            &>div {
                &>section:nth-last-child(-n+2) {
                    display: none;
                }
            }
        }
    }

    nav.pagination {
        &>div {
            margin: 0;
            padding: 0px 45px 5px 45px;
            align-items: flex-end;
        }
    }

    footer {
        &>div {
            margin: 0px 50px 0px 50px;
        }

        &>div.video-footer-wrapper {
            margin-bottom: 0px;
            margin-top: 35px;
        }
    }

    body {
        article.video {
            &>div {

                section,
                section:first-of-type {
                    figure {
                        img {
                            height: 280px;
                        }
                    }


                    h1 {

                        font-size: 19px;
                        margin: 19px 6px 0px 30px;
                        word-spacing: 1px;

                    }

                    p {
                        margin: 8px 0px 28px 30px;
                        letter-spacing: 1.2px;
                    }
                }
            }
        }
    }

}


@media screen and (max-width: 750px) {
    body {
        article.video {
            &>div {

                section,
                section:first-of-type {
                    figure {
                        img {
                            height: auto;
                        }
                    }


                }

            }
        }
    }
}



@media screen and (max-width: 700px) {

    body {
        header {
            &>div {
                margin: 0;

                .sign-search-wrapper {
                    flex-grow: 0.5;
                    justify-content: flex-end;

                    .search {
                        margin-left: 20px;

                        div {

                            .hover {
                                width: 100px;
                            }
                        }
                    }
                }
            }
        }
    }

    footer {
        div {
            justify-content: center;

            nav {
                display: none;
            }
        }
    }

    header div:last-child .sign-search-wrapper .menu-toggle {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 40px;

    }

    header div:first-child nav.main-menu {
        display: none;
    }

    header div:last-child .sign-search-wrapper .sign {
        display: none;
    }

    header div:last-child .sign-search-wrapper {
        overflow: visible;
    }

    header div:last-child .sign-search-wrapper .search {
        margin: 0;
    }

    header div:last-child .sign-search-wrapper {

        display: flex;
        align-items: center;

        div.search {
            display: flex;
            align-items: center;
            margin-left: 5px;

            div {

                i {
                    width: 40px;
                    height: 40px;

                    svg {
                        width: 25px;
                        height: 25px;
                    }
                }
            }
        }
    }

    body {
        &>header {


            &>div {

                max-width: 1180px;
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;

                &>div:first-child a {
                    margin-left: 20px;
                }

                &>div.sign-search-wrapper div.menu-toggle {
                    margin-right: 35px;
                }
            }


        }

    }

    article div {
        align-items: center;

        .card {

            margin: 0;
        }
    }




    body {
        article.video {
            &>div {
                justify-content: center;

                &>section {
                    width: 100%;

                }

                &>section:nth-child(-n+4) {
                    margin-bottom: 20px;
                }

                &>section:nth-child(odd) {
                    margin-right: 0px;
                }

                &>section:nth-child(even) {
                    margin-left: 0px;
                }

            }
        }
    }

}

@media screen and (max-width: 500px) {

    body {
        header {
            div {
                div:first-child {
                    a {
                        margin-left: 24px;
                    }
                }
            }
        }



        article:first-of-type {
            padding-top: 10px;
        }

        article:last-of-type {
            padding-bottom: 10px;
        }

        article.video {
            padding-top: 10px;
        }

    }

    article {
        div {
            align-items: center;

            section.card {
                margin: 0px 10px 0px 10px;

                &>figure {
                    figcaption {
                        padding: 23px 100px 0px 30px;
                    }
                }

                div {
                    p {
                        word-spacing: 1px;
                    }
                }

            }

            .card:nth-child(2) {
                margin-top: 10px;
            }
        }
    }

    nav.pagination {
        height: 90px;

        &>div {
            padding: 0px 41px 0px 40px;
        }
    }

    footer {
        height: 65px;

        &>div.video-footer-wrapper {
            margin-top: 0px;
        }
    }


    body {

        &>article:first-of-type {
            section.featured {
                margin: 0px 10px 0px 10px;
            }
        }

        article.video {
            padding: 10px 10px 10px 10px;

            &>div {




                &>section:nth-last-child(-n+4) {
                    display: none;
                }

                &>section:nth-child(odd) {
                    margin-bottom: 10px;
                }

                &>section:nth-child(even) {
                    margin-bottom: 0px;
                }
            }


        }
    }



    body {
        article {
            section.featured {
                width: calc(100% - 20px);

                &>div {
                    video {
                        height: 462px;
                    }
                }

                h1 {
                    margin: 40px 0px 16px 30px;
                }

                p {
                    margin-bottom: 30px;
                }
            }


        }

        article.video {
            padding: 20px 10px 10px 10px;

            &>div {

                section,
                section:first-of-type {

                    figure {
                        img {
                            height: 282px;
                        }
                    }



                    h1 {
                        margin: 22px 0px 0px 30px;
                    }

                    p {
                        margin: 3px 0px 28px 30px;
                    }


                }


            }
        }
    }

}



@media screen and (max-width: 450px) {
    body {
        article.video {
            &>div {

                section,
                section:first-of-type {
                    figure {
                        img {
                            height: auto;
                        }
                    }


                }

            }
        }
    }

    article {
        div {
            section.card {
                &>figure {

                    figcaption {
                        padding: 23px 50px 0px 30px;
                    }

                }


            }
        }
    }
}




@media screen and (max-width: 400px) {
    header div:last-child .sign-search-wrapper .menu-toggle {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 15px;

    }


    body {
        &>header {


            &>div {

                &>div.sign-search-wrapper div.menu-toggle {
                    margin-right: 20px;
                }
            }


        }

    }
}